<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>网金BaaS平台管理后台</title>
    <link rel="stylesheet"type="text/css" href="/login.css">
    <script type="text/javascript" src="/jquery-1.12.4.min.js"></script>
    <script src = "/angular.min.js"></script>
    <script src = "/angular-sanitize.min.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="login-box">
            <div class="login-title">用户登录</div>
            <div class="login-input-wrap">
                <dl>
                    <dd class="login-item"><i class="login-name-icon"></i><input type="text" maxlength="20" placeholder="请输入您的用户名" /></dd>
                    <dd class="login-item"><i class="login-pwd-icon"></i><input type="password" maxlength="12" placeholder="请输入您的用户密码" /></dd>
                </dl>
            </div>
            <a href="javascript:;" class="login-btn">登录</a>
        </div>
    </div>
</body>
</html>